<!DOCTYPE html>
<html>
<head>
  <title>Merja</title>
  <%= stylesheet_link_tag    "merja/application", media: "all" %>
  <%= javascript_include_tag "merja/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
